@import url('./globalStyles.css');

body {
  background-image: url('../assets/wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
}

header {
  background-color: var(--black);
  margin-bottom: 5rem;
  width: 100vw;
}

nav {
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-container {
  display: flex;
  gap: 1rem;
}

nav .logo-container img {
  width: 100%;
  max-width: 40px;
  height: auto;
}

nav .logo-container h1 {
  font-size: 1.8rem;
}

nav .logo-container h1 strong {
  font-weight: bold;
}

nav .user-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .user-info .user-image {
	width: 35px;
	height: 35px;
	background-color: white;
	background-image: url('../assets/user.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50vh;
	margin-left: .5rem;
}

nav .user-info button {
	background-color: var(--orange);
	color: white;
	padding: .5rem 1rem;
	margin-left: 2rem;
	border-radius: .3rem;
	font-size: .8rem;
	font-weight: 400;
}

.container {
  display: flex;
  padding: 0 10%;
  flex-direction: column;
  align-items: center;
}

form {
	width: 100%;
  background-color: var(--black);
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form input {
  flex-grow: 1;
  border-radius: .5rem;
  padding: .7rem 1rem;
  border: 2px solid var(--grey);
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

form input:focus {
  outline: none;
  border: 3px solid var(--blue);
}

form button {
  background-color: var(--blue);
  color: white;
  padding: .8rem 1.5rem;
  border-radius: .3rem;
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 400;
}

form button:hover {
  background-color: var(--blue-hover);
}

main ul {
  color: var(--black);
	width: 100%;
}

main h2 {
	width: 100%;
  margin: 1.5rem 0 .5rem 0;
}

/* ------ Tareas pendientes ----- */

#cantidad-pendientes {
  background-color: rgb(223, 82, 82);
  border-radius: 50vh;
  padding: .1rem .5rem;
}

.tareas-pendientes .tarea {
  background-color: var(--grey);
  margin-bottom: .7rem;
  border-radius: .5rem;
  border-left: .6rem solid grey;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.tareas-pendientes .tarea i {
  pointer-events: none;
  color: grey;
  font-size: 1.4rem;
  border-radius: 50vh;
}

.tareas-pendientes .tarea button {
  border-radius: 50vh;
}

.tareas-pendientes .tarea button:hover i {
  color: var(--orange);
}

.tareas-pendientes .tarea button:active {
  background-color: var(--green);
}

.tareas-pendientes .tarea .descripcion {
  padding: .3rem .5rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.tareas-pendientes .tarea .descripcion .nombre {
  flex-grow: 1;
}

.timestamp {
  margin-left: 1rem;
  padding: .3rem .8rem;
  border-radius: 50vh;
  background-color: white;
  color: grey;
  font-size: .9rem;
}

/* ------------Tareas terminadas */

#cantidad-finalizadas {
  background-color: var(--green);
  border-radius: 50vh;
  padding: .1rem .5rem;
}

.tareas-terminadas .tarea {
  background-color: var(--grey);
  margin-bottom: .7rem;
  border-radius: .5rem;
  border-left: .6rem solid var(--green);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tareas-terminadas .tarea .hecha i {
  font-size: 1.4rem;
  border-radius: 50vh;
  color: var(--verde);
}

.cambios-estados i {
  pointer-events: none;
}

.tareas-terminadas .tarea .descripcion {
  padding: .3rem .5rem;
  color: grey;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.tareas-terminadas .tarea .descripcion .nombre {
  text-decoration: line-through;
  flex-grow: 1;
}

.tareas-terminadas .tarea .descripcion button {
  font-size: .9rem;
  color: white;
  margin-left: .6rem;
  padding: .4rem;
  border-radius: .3rem;
}

.tareas-terminadas .tarea .cambios-estados button:hover {
  color: var(--black);
}

.tareas-terminadas .tarea .cambios-estados button:active {
  color: white;
}

.tareas-terminadas .tarea .descripcion .completa {
  background-color: var(--blue);
}

.tareas-terminadas .tarea .descripcion .borrar {
  background-color: brown;
}
